@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open_sans.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Neucha';
    src: url('../fonts/neucha.ttf');
    font-weight: 400;
}

:root {
    --white: #fff;
    --half-white: #d7ccc0;
    --light: #f5f4f0;
    --main-color: #fe8a02;
    --main-dark: #42413c;
    --dark: #2a2626;
    --half-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
    --font-color: #2A2626;
}

.fs-72 {
    font-size: 72px;
}

.fs-60 {
    font-size: 60px;
}

.fs-52 {
    font-size: 52px;
}

.fs-34 {
    font-size: 34px;
}

.fs-18 {
    font-size: 18px;
}

.fs-24 {
    font-size: 24px;
}

.fs-64 {
    font-size: 64px;
}

.fs-12 {
    font-size: 12px;
}

.lh-1-6 {
    line-height: 1.6em;
}

.lh-1-2 {
    line-height: 1.2em;
}

.neucha {
    font-family: 'Neucha';
}

.open-sans {
    font-family: 'Open Sans', 'sans-serif';
}

.half-dark {
    color: var(--half-dark);
}

html {
    height: 100%;
}

header {
    box-sizing: border-box;
    background-color: var(--light);
}

.bg-image {
    position: relative;
}

.bg-image::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/background.png');
    opacity: 0.1;
    content: "";
}

.mg-0 {
    margin: 0;
}

.black-text {
    color: var(--dark);
}

.orange-text {
    color: var(--main-color);
}

.fw-400 {
    font-weight: normal;
}

.fw-700 {
    font-weight: bold; 
}

header {
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1110px;
    min-height: 914px;
    padding: 100px 0;
}

header > * {
    box-sizing: border-box;
}

.header-img {
    position: absolute;
    height: 525px;
    top: -45px;
    right: -270px;
}

.title-head {
    position: relative;
}

.detail {
    display: inline-block;
    width: 148px;
    height: 49px;
    background-color: var(--main-color);
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    text-align: center;
    padding: 12px 24px;
    box-sizing: border-box;
    transition: 0.1s;
}

.detail:hover {
    filter: brightness(0.9);
    transition: 0.1s;
}

.detail-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 35px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.flex-width-50 {
    flex-basis: 50%;
}

.gap-2 {
    gap: 30px;
}

.sec-1 {
    position: relative;
    box-sizing: border-box;
    height: 814px;
}

.sec-1-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
}

.bg-1 {
    background-color: var(--white);
    height: 814px;
}

.bg-2 {
    background-color: var(--main-dark);
    height: 100px;
}

.video {
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
    border: none;
}

.sec {
    box-sizing: border-box;
    min-height: 914px;
}

.title-what {
    margin-bottom: 30px;
}

.sec-1-p {
    height: 26px;
    margin-top: 0;
    margin-bottom: 30px;
}

.sec-2 {
    display: flex;
    justify-content: center;
    background-color: var(--main-dark);
    padding: 0;
    padding-top: 190px;
    padding-bottom: 100px;
}

.text-image-cont {
    position: relative;
}

.block-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem 30px;
}

.sec-2-block {
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 24px;
    transition: 0.1s;
}

.sec-2-block-first {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.sec-2-block:hover {
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--white);
    transition: 0.1s;
}

.sec-2-block:hover h3 {
    color: var(--white);
    transition: 0.1s;
}

.light {
    background-color: var(--light);
}

.h2-block {
    margin-bottom: 40px;
    line-height: 1;
}

.h3-block {
    margin-bottom: 16px;
}

.white-text {
    color: var(--white);
}

.brown-text {
    color: var(--brown);
}

.p-0 {
    padding: 0;
}

.h2-block-start {
    font-size: 52px;
}

.block-container > * {
    box-sizing: border-box;
}

.test {
    width: 1110px;
}

footer {
    background-color: white;
    padding: 100px 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.learn-more {
    width: 1110px;
    height: 190px;
    background-color: var(--main-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.footer-text {
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
}

#mail {
    height: 50px;
    width: 423px;
    outline: none;
    border: 1px solid #E3E3E3;
    padding: 0;
    padding: 15px;
    box-sizing: border-box;
    color: #757575;
    font-size: 14px;
}

.mail-container {
    display: flex;
}

.mail-button {
    cursor: pointer;
    height: 50px;
    width: 70px;
    background-color: var(--main-color);
    border: none;
    padding: 0;
    transition: 0.1s;
}

.mail-button:hover {
    filter: brightness(0.9);
    transition: 0.1s;
}

.bg-light {
    background-color: var(--light);
}

.bg-brown {
    background-color: var(--brown);
}

.bg-dark {
    background-color: var(--dark);
}

.bg-white {
    background-color: var(--white);
}

.text-half-white {
    color: var(--half-white);
}

.base-container {
    padding: 100px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.top-content {
    display: flex;
    gap: 30px;
    width: 1110px;
}

.desc-top {
    display: block;
    width: 502px;
}

.top-image {
    width: 578px;
    height: 434px;
    box-sizing: border-box;
    vertical-align: middle;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.bottom-content {
    width: 1110px;
}

.title-bottom {
    position: relative;
    display: block;
    padding: 4px 10px;
    margin-bottom: 20px;
}

.bottom-info {
    display: flex;
}

.info-el {
    width: 50%;
}

.link-without {
    text-decoration: none;
    color: inherit;
}

.double-text-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.z-id-1 {
    z-index: 1;
}

.rules {
    color: inherit;
}